{% extends 'profiles/base.html' %}
{% load i18n %}

{% block styles %}

    {% include 'profiles/_css_registration.html' %}

{% endblock %}


{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {% trans 'Завершение регистрации' %}
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">{% trans 'Ввод персональных данных' %}</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: block;">
                <div class="row">
                    <div class="col-md-6">
                        <form method="post">{% csrf_token %}
                            {{ form.non_field_errors }}
                            <div class="form-group">
                                {{ form.last_name.errors }}
                                {{ form.last_name.label_tag }}
                                <input name="last_name" type="text" class="form-control" placeholder="{% trans 'Иванов ...' %}">
                            </div>
                            <div class="form-group">
                                {{ form.first_name.errors }}
                                {{ form.first_name.label_tag }}
                                <input name="first_name" type="text" class="form-control" placeholder="{% trans 'Иван ...' %}">
                            </div>
                            <div class="form-group">
                                {{ form.sur_name.errors }}
                                {{ form.sur_name.label_tag }}
                                <input name="sur_name" type="text" class="form-control" placeholder="{% trans 'Иванович ...' %}">
                            </div>


                            <div class="input-group">
                                {{ form.phone.errors }}
                                <label>{% trans 'Телефон ' %}<br/>
                                    <div class="sui-tip">{% trans 'Вам будет отправлено смс с кодом. Зарегистрировать новый аккаунт с данным номером будет невозможно.' %}</div>
                                </label>

                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">+7</span>
                                <input name="phone_number" type="text" class="form-control" data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask="">

                            </div>
                            <div class="input-group">

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" required>
                                        {% trans 'Подтверждаю, что указанный телефонный номер зарегистрирован на мое имя/мной получено разрешение на его использование' %}
                                    </label>
                                </div>
                            </div>

                            <div class="btn-group">
                                <a href="{% url 'reg_cancel' %}" style="" class="btn btn-primary btn-block">{% trans 'Назад' %}</a>
                            </div>
                            <div class="btn-group">
                                <button type="submit" class="btn btn-primary btn-block">{% trans 'Подтвердить данные' %}</button>
                            </div>


                            <!-- /.form-group -->
                        </form>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer" style="display: block;">
                {% blocktrans %}
                    Возникли проблемы с активацией? <a href="">Cоздайте тикет</a>.
                {% endblocktrans %}
            </div>
        </div>
        <!-- /.box -->



    </section>

{% endblock %}


{% block scripts %}

    {% include 'profiles/_js_registration.html' %}

{% endblock %}